import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';
import styles from './styles.module.css';

# OS utility
---
The RiverMeadow OS utility is a lightweight utility (less than 25 MB) that is installed on Windows or Linux source servers that are migrated using OS based migrations. The OS utility also enables advanced optimization and modernization functionality during the workload migration.

### Automated utility installation
The RiverMeadow utility can be automatically installed from the migration appliance that is deployed into the target environment. The migration appliance uses remote protocols (SSH, WinRM, SMB) to connect to the source workload and perform the utility installation.

![](/img/rivermeadow_add_source.png)

### Manual utility installation
The RiverMeadow utility can be manually installed by downloading the utility package from the migration appliance. This enables the utility to be rolled out across an environment using 3rd party automation tools like Ansible or Group Policy.

#### Downloading the RMS utility Package
The RiverMeadow utility installer can be downloaded from the migration appliance that is deployed into the target environment. The utility downloads page is accessible at the following URL: https://rms_migration_appliance_ip_address:8888/utility

![An image from the static](/img/rms_utility_page.png)
